/* ===========GOOGLE FONTS============== */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

/* ==============VARIABLE============== */
:root {
    --header-height: 3.5rem;

    /* =========COLORS============= */
    /* COLOR MODE HSL(HUE, SATUATION, LIGHTNESS) */
    --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --body-color: hsl(207, 4%, 99%);
    --container-color: hsl(207, 4%, 95%);

    /* change the first number */
    /* blue: 207 - purple: 250 - pink: 356 - teal: 174 */
    --gadient-color: linear-gradient(180deg,
                    hsla(207, 48%, 72%, 0),
                    hsla(207, 65%, 65%, 1));

    /* =======font and typography ===========*/
            /* 5rem = 8px / 1rem = 16px .. */
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Lora', serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;


    /* =================== font weight ============= */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* ============= z index ================= */















}